.display-inline{
  display: inline;
  width: 20px;
}

body{
    max-width: 1200px;
    margin: 0 auto;
    background-color: lightskyblue;
    padding: 1rem;
    font-size: 1.5rem;
}

table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  .highlight {
    background-color: #ffff99;
  }

  #newBillForm > *{
    font-size: 1rem;
  }

  option{
    font-size: 1rem;
  }

  button{
    width: 300px;
    height: 50px;
    font-size: 1.25rem;
    display: block;
    margin: 5px 0;
    cursor: pointer;
    border: 1px solid black;
  }

  h3{
    font-size: 2rem;
  }

  input {
    display: block; /* This makes the input take its own line */
    width: 300px; /* This sets the input width to fill its container */
    box-sizing: border-box; /* This ensures padding and borders are included in the width */
    font-size: 1.25rem;
    margin: 5px 0;
    padding: 5px;
  }

  #includeBills{
    display: inline;
    width: 20px;
  }

  #newBillForm #frequency {
    font-size: 1rem;
  }

  /* Add this style to your CSS file or within a <style> tag in your HTML */

#retirementTable {
  display: block;
  height: 400px; /* Adjust the height as needed for your design */
  overflow-y: auto;
}


  /* Add this style to your CSS file or within a <style> tag in your HTML */

thead th {
  position: sticky;
  top: 0;
  background-color: #fff; /* or any color that matches your design */
  z-index: 10; /* to ensure the header is above other content when scrolling */
}

/* Optional: add a shadow to the sticky header to give it some depth and distinguish from the rest of the table rows */
thead th {
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
