.display-inline{
  display: inline;
  width: 20px;
}

body{
    max-width: 1200px;
    margin: 0 auto;
    background-color: lightskyblue;
    padding: 1rem;
    font-size: 1.5rem;
}

table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  .highlight {
    background-color: #ffff99;
  }

  #newBillForm > *{
    font-size: 1rem;
  }

  option{
    font-size: 1rem;
  }

  button{
    width: 300px;
    height: 50px;
    font-size: 1.25rem;
    display: block;
    margin: 5px 0;
    cursor: pointer;
    border: 1px solid black;
  }

  h3{
    font-size: 2rem;
  }

  input {
    display: block; /* This makes the input take its own line */
    width: 300px; /* This sets the input width to fill its container */
    box-sizing: border-box; /* This ensures padding and borders are included in the width */
    font-size: 1.25rem;
    margin: 5px 0;
    padding: 5px;
  }

  #includeBills{
    display: inline;
    width: 20px;
  }

  #newBillForm #frequency {
    font-size: 1rem;
  }